@media screen and (max-width:400px) {
  .Avatar{
    height: 8rem !important;
    top: 35% !important;
    left: 0% !important;
  }
  .subHeading{
    max-width: 50% !important;
  }
}
.profile_div{
  border-radius: 50% !important;
}
.Avatar{
  border-radius: 50% !important;
  height: 9rem !important;
  width: 9rem !important;
}

.post_img_div{
    min-width:5rem !important;
}
