.userDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}
.userDetails h3{
    font-weight: 700;
    font-size: 20px;
}
.userDetails h3 span{
    font-weight: 450;
}
.profileImg .cover{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message{
    margin: 5px !important; 
    font-size: 20px;
}

.imgBg .cover{
    width: 100%;
}


.btns .left{
    width: 90px; 
    display: flex;
    justify-content: space-between;
}
.btns .left img{
    width: 35px;   
}
.btns .right img{
    width: 40px;   
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.likes{
    margin: 5px; 
    font-size: 25px;
}

.userImg .cover{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 0px !important;
}
.addComments{
    display: flex;
    align-items: center;
}
.addComments .text{
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 25px;
    color: #262626;
    margin-left: 5px;
    
}
.postTime{
    margin-top: 10px;
    font-weight: 500;
    color: #777;
    font-size: 20px;
}

/* createPost design */
.textarea-container {
    position: relative;
    max-width: 100%; /* Adjust width as needed */
  }
  
  .hidden-textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    /* pointer-events: none; */
    text-wrap: wrap;
    resize: none;
    overflow: hidden;
  }
  
  .visible-div {
    max-width: 100%;
    /* text-wrap: wrap; */
    min-height: 1.5rem; /* Height for one line */
    padding: 0.6rem;
    box-sizing: border-box;
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    word-wrap: break-word; /* Allow long words to break */
  }
/* responsive */
@media screen and (max-width:600px) {
    .dialog_content{
      min-width:100% !important; 
      max-width: 100% !important;
    }
  }
@media screen and (max-width:800px) {
    .heading{
      font-size: .7rem !important;
    }
    .name{
      font-size: 1.2rem !important;
    }
  }
  @media screen and (max-width:1000px) {
    .dialog_content{
      min-width:80% !important; 
      max-width: 80% !important;
    }
  }
  @media screen and (max-width:1500px) {
    .dialog_content{
      min-width:60% ; 
      max-width:60% ; 
    }
  }
  @media screen and (max-width:2500px) {
    .dialog_content{
      min-width:50% ; 
      max-width:50% ; 
    }
  }