@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}
@media screen and (max-width:800px) {
  .App{
    gap: 0rem !important;
  }
  
}