.img_div{
  background-image: url('/chatBackground.png');
  background-size: auto; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /* background-attachment: fixed; */
}

@media screen and (max-width:800px) {
  .message_container{
    width: 100% !important;
    position: absolute;
  }
  .left_arrow{
    display: inline-block !important;
  }
  .chatlist_container{
    width: 100vw;
  }
  .search_icon_of_chat{
    left: 2% !important;
  }
  .welcome_container{
    display:none;
  }
  
}

@media screen and (max-width:450px) {
  .search_icon_of_chat{
    left: 5% !important;
  }
  .status{
    font-size: .68rem !important;
  }
  
}